<div class="card text-center w-50 mx-auto">
  <div class="card-header">
    <%= assignment.course.name %>
  </div>
  <div class="card-body">
    <h5 class="card-title"><%= assignment.title %></h5>
    <p class="card-text"><%= assignment.description %></p>
    
  </div>
  <div class="card-footer text-muted">
    <%= date_format(assignment.created_at) %>
  </div>
</div>