<h1>Editing assignment</h1>

<%= render "form", assignment: @assignment %>

  <%= link_to "Show this assignment", course_assignment_path(@course, @assignment), class:"btn btn-outline-secondary  " %>
  <%= link_to "Back to assignments", course_assignments_path(@course), class:"btn btn-outline-secondary" %>
</div>
