<% provide(:title, "edit student") %>
<br/>
<h1>Editing student</h1>

<%= render "form", student: @student %>
<%= link_to "Back to students", students_path, class:"btn btn-outline-secondary" %>
  </div>

<br>

<div>
  
   
</div>