<% provide(:title, 'Add student') %>
<br>
<h1>New student</h1>

<%= render "form", student: @student %>




  <%= link_to "Back to students", students_path, class:"btn btn-outline-secondary" %>
</div>
