<br/>
<table class="table table-bordered table-hover">
  <thead class="table-dark">
    <th scope="col">Name</th>
    <th scope="col">Student id</th>
    <th scope="col">Faculty</th>
    <th scope="col">Field of study</th>
  </thead>
  <tbody class="table-primary">
    <%= render @student %>
  </tbody>
</table>

<div>
  <div class="btn-group me-2" role="group" aria-label="Second group">
    <%= link_to "Edit this student", edit_student_path(@student), class:"btn btn-outline-secondary" %> 
    <%= link_to "Back to students", students_path, class:"btn btn-outline-secondary" %>
  </div>
  <%= button_to "Destroy this student", @student, method: :delete, class:"btn btn-outline-primary", style:"margin-top:15px" %>
</div>
