<% provide(:title, "All users") %>
<h1>All users</h1>

<ol class="list-group list-group-numbered">
    <% @users.each do |user| %>
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
                <div class="fw-bold"><%= user.name %></div>
            </div>

            <% unless current_user?(user) && user.admin? %>
                <div class="btn-group me-2" role="group" aria-label="Second group">
                <!--    <%= link_to "View", edit_student_path(user), class:"btn btn-outline-primary" %> -->
                    <%= button_to "Delete", user, method: :delete, class:"btn btn-outline-danger" %>
                </div> 
            <% end %>
        </li>
    <% end %>
</ol>




