<% provide(:title, "All users") %>
<h1>All users</h1>

<ol class="list-group list-group-numbered">
    <% @users.each do |user| %>
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
                <div class="fw-bold"><%= user.name %></div>
            </div>
            <div class="btn-group me-2" role="group" aria-label="Second group">
                <% unless current_user.admin? %>
                    <%= link_to "View", students_path(user), class:"btn btn-outline-primary" %>
                <% end %>
                <% if current_user.admin? && !current_user?(user) %>
                        <%= link_to "Delete", user, method: :delete, class:"btn btn-outline-danger" %>
                <% end %>
            </div>
        </li>
    <% end %>
</ol>


