<h1>New submission</h1>

<%= render "form", submission: @submission %>

<br>

<div>
  <%= link_to "Back to submissions", course_assignment_path(@course, @assignment), class:"btn btn-secondary" %>
</div>
