<%= form_with(model: course) do |form| %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name, class:"form-control w-25" %>
  </div><br>

  <div class="btn-group me-2" role="group" aria-label="Second group">
    <%= form.submit class:"btn btn-outline-primary" %>
<% end %>
