<% provide(:title, "edit lecturer") %>
<br/>
<h1>Editing lecturer</h1>

<%= render "form", student: @lecturer %>
<%= link_to "Back to lecturers", lecturers_path, class:"btn btn-outline-secondary" %>
  </div>

<br>