<% provide(:title, "show lecturer") %>
<br/>
<table class="table table-bordered table-hover">
  <thead class="table-dark">
    <th scope="col">Name</th>
    <th scope="col">Course id</th>
    <th scope="col">Email</th>
  </thead>
  <tbody class="table-primary">
    <%= render @lecturer %>
  </tbody>
</table>

<div>
  <div class="btn-group me-2" role="group" aria-label="Second group">
    <%= link_to "Edit this student", edit_lecturer_path(@lecturer), class:"btn btn-outline-secondary" %> 
    <%= link_to "Back to students", lecturers_path, class:"btn btn-outline-secondary" %>
  </div>

  <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Delete
  </button>

  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Delete?</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete this item?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <%= button_to "Delete", @lecturer, method: :delete, class:"btn btn-outline-danger" %></div>
      </div>
    </div>
  </div>
</div>
